<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Фотограф Евгения Пономарева</title>

    <link rel="stylesheet" href="main.css">  
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">  
    <link rel="stylesheet" href="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">  
    <link rel="stylesheet" href="node_modules/aos/dist/aos.css" />

    <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?159"></script>
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="node_modules/angular/angular-route.js"></script>
    <script type="text/javascript" src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript">
        VK.init({apiId: 6703983, onlyWidgets: true});
    </script>
</head>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/controllers/home-controller.js"></script>
    <script type="text/javascript" src="app/controllers/content-controller.js"></script>
    <script type="text/javascript" src="app/controllers/gallery-controller.js"></script>
    <script type="text/javascript" src="app/directives/carousel-on-click.js"></script>
    <script type="text/javascript" src="app/directives/go-to.js"></script>
    <script type="text/javascript" src="app/providers/configuration-provider.js"></script>
    
    <body ng-controller="HomeController" class="app" >
        <div id="header" class="header" ng-if="modules.header.visable"> 
            <img src="static/images/header.png"/>
            <h1 class="centered-column">Евгения Пономарева<br/>фотограф</h1>
		</div>
        <div id="navigation" class="navigation" ng-if="modules.navigation.visable">
            <ul>
                <li><div class="centered-column" go-to scroll-to="#header" redirect-to="/">Главная</div></li>
                <li><div class="centered-column" go-to scroll-to="#aboutme" redirect-to="/">Обо мне</div></li>
                <li><div class="centered-column" go-to redirect-to="/gallery">Галерея</div></li>
                <li><div class="centered-column" go-to scroll-to="#comments" redirect-to="/">Отзывы</div></li>
                <li><div class="centered-column" go-to scroll-to="#contacts" redirect-to="/">Контакты</div></li> 
            </ul>
        </div>
        <div ng-view class="content" ng-if="modules.content.visable" ng-controller="ContentController"></div>
        <div class="footer" ng-if="modules.footer.visable">&reg;Ponomarev Studio - ponom.nikita@gmail.com</div>
    </body>

    <script src="node_modules/aos/dist/aos.js"></script>
    <script>
        function InitializeComments() {
            VK.Widgets.Comments("vk_comments", { height: "auto", limit: 10, attach: "*"});
        }

        AOS.init();
        
        $(document).ready(function() {

            window.onscroll = function() { onWindowScrolling(); }; 
            window.onresize = function(event) { onWindowResizing(); };  

            var navigation = $(".navigation");
            var sticky = navigation.offset().top;

            function onWindowScrolling() {
                if (window.pageYOffset > sticky) {
                    navigation.addClass("sticky");
                } else {
                    navigation.removeClass("sticky");
                }
            }

            function onWindowResizing() {
                sticky = navigation.offset().top;
            }
        });
    </script>
</html>
