
html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: white;
    min-width: 500px;
    min-height: 400px;
    font-family: Georgia, sans-serif !important;
    font-size: 18px;
}

a, a:hover {
    text-decoration: none !important;
}

h1 {
    font-size: 1.5rem !important;
    letter-spacing: 5px;
    line-height: 1.5 !important;
}

h2 {
    font-size: 1.2rem !important;
    letter-spacing: 2px;
}

h3 {
    font-size: 1.5rem !important;
    letter-spacing: 2px;
    text-align: center;
}

.small-h1 {
    font-size: 1.2rem !important;    
}

.small-h2 {
    font-size: 1rem !important;    
}

.centered-wrapper {
    height: 100%;
    width: 100%;
    display: table;
}

.centered {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.slider { 
    box-shadow: 0 1px 8px black;
}

.slider img {	
    object-fit: cover !important;
    height: 100vh !important;
    background: black;
    opacity: 0.75;    
}

.header {
    color: white;
    position: absolute;
    text-align: center;
    width: 50vw;
    height: 50vh;
    top: 50vh;
    left: 50vw;
    margin-top: -15vh;
    margin-left: -25vw;
}

.centered-column {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    height: 100%;
}
  
.navigation {
    height: 5vh;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center; 
    flex-direction: row;
    position: absolute;
    top: 0;
    z-index: 100;
}

.navigation-fixed, .navigation-fixed-on-scroll {
    height: 9vh;
    position: fixed;
    background: white;
    border-bottom: 1px solid #d6d8e4f5;
    z-index: 100;
}

.navigation-fixed li, .navigation-fixed-on-scroll li {
    color: black !important;
}

.navigation ul {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.navigation li {
    border-top: 2px solid transparent;
    display: inline-block;
    width: 100px;
    height: 100%;
    text-align: center;
    font-family: Montserrat, sans-serif !important;
    font-size: 1rem;
    color: #ffffff;
}

.navigation li:hover {
    border-top: 2px solid red;
    text-decoration: underline;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content > img {
    width: 70%;
    border: 10px solid #ffffff;
    border-radius: 5px;
    margin-top: 20px;
}

.content-container {
    width: 70%;
    padding-top: 10vh;
    padding-bottom: 10vh;
    border-bottom: 1px dashed #d6d8e4f5;
}

.about-me, .contacts {
    border: 10px solid #ffffff;
    border-radius: 5px;
    background-color: white;
    text-align: justify;
}

.comments {
    margin-top: 20vh;
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px dashed #d6d8e4f5;
    padding-bottom: 10vh;
}

.comments div {
    max-width: 70vw;
    border-right: 1px solid #d6d8e4f5;
    border-left: 1px solid #d6d8e4f5;
    border-radius: 10%;
}

.contacts {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.contacts-data {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contacts > img {
    max-height: 30vw;
    width: auto
}

.contacts a > img {
    width: 5vh;
}

.gallery {
    min-height: 80vh;
    margin-top: 50px;
    margin-bottom: 50px;
}

.image-wrapper { 
    margin-top: 20px; 
    display: flex;
    justify-content: center;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 10px solid #ffffff;
    box-shadow: 0 1px 1px black;
    border-radius: 5px;
    margin: 5px;
}

.gallery img:hover{
    cursor: pointer;
    box-shadow: 0 1px 8px black;
    transition: box-shadow 400ms ease-in-out;
    transform: scale(1.05, 1.05);
    transition: transform 400ms ease-in-out;
}

.footer {
    margin-top: 30px;
    text-align: center;
    min-height: 30px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    justify-content: left; 
}

/**********    Bootstrap   ***********/
.container {
    max-width: 100% !important;
    margin-left: 3%;
    margin-right: 3%;
 }


/**************************************/

@media (device-width: 720px) { 
}